<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= teams_path %>">Teams</a></li>
    <li class="breadcrumb-item active" aria-current="page">Team Details</li>
  </ol>
</nav>

<div class="page-body">

  <div id="team">
  </div>

  <br />

  <% content_for :jsfooter do %>
    <script>
      $(function() {
        SPRINT.init();

        SPRINT.VIEWS.team.init({
          "name" : "<%= @team.name %>",
          "id" : "<%= @team.id %>",
          "parent_team_id" : "<%= @team.parent_team_id %>",
          "parent_team_name" : "<%= @team.parent_team ? @team.parent_team.name : '' %>",
        });
      });
    </script>
  <% end %>

</div>
